<!-- NavBar with routerLink -->

<div class="container">
    <div class="row"> 
        <div class="col">
            <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </div>
        <div class="col">
            <a routerLink="/calculator" routerLinkActive="active" ariaCurrentWhenActive="page">Calculator</a>
        </div>
        <div class="col">
            <a routerLink="/instructions" routerLinkActive="active" ariaCurrentWhenActive="page">Instructions</a>
        </div>
    </div>
</div>
